# Compiled files
figures_generated/*.pdf
figures_generated/*.svg
figures_generated/*.png
*.pdf

# VS Code settings
*.code-workspace
.vscode

# Cache folders
.ipynb_checkpoints
.cache
.conda
__pycache__
.jupyter
.local
.config
.empty

# Latex cache files
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
**.toc
**.bcf
**.run.xml
**-blx.bib
**.texe