# VS Code settings
*.code-workspace
.bashrc

# Cache folders
.cache
.conda
__pycache__
.jupyter
.local
.vscode
.config
.empty

# Latex cache files
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
**.toc
**.bcf
**.run.xml
**-blx.bib

.bash_history
.python_history